/*
Project: Online School Go
File: css/style.css
*/


/* Main Layouting
---------------------------------------------------------------*/

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #666;
	background: url(../img/pics/bg.gif) repeat-x top #fff;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}

#header {
	background: url(../img/pics/bg_header.png) no-repeat;
	height: 105px;
	margin: 25px 0 0 0;
	padding: 0 40px 0 40px;
	clear: both;
}

#header h2 {
	float: left;
	display: block;
	width: 277px;
	height: 45px;
	text-indent: -9999px;
	background: url(../img/pics/h2_lotsofschools.png) no-repeat;
	margin: 45px 0 0 0;
	position: relative;
	left: 450px;
}

.logo {
	float: left;
	margin: 35px 0 0 0;
}

#content {
	background: url(../img/pics/bg_content.png) repeat-y;
	padding: 15px 40px 10px 40px;
}

#footer {
	background: url(../img/pics/bg_footer.png) top no-repeat;
	clear: both;
	min-height: 30px;
	padding: 50px 0 50px 0;
	text-align: center;
}

#footer a {
	color: #666;
	text-decoration: underline;
}

#footer a:hover {
	text-decoration: none;
}

p {
	line-height: 20px;
}


/* Navigation Bar 
----------------------------------------------------*/

#navigation {
	background: url(../img/pics/bg_navigation.png) no-repeat;
	height: 30px;
	padding: 20px 40px 0 40px; 
}

#navigation ul li {
	float: left;
}

#navigation ul li a {
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	text-shadow: #666 0 -1px;
	margin: 0 10px 0 10px;
}

#navigation ul li a:hover {
	color: #8fceea;
	text-shadow: none;
}

/* Columns 
----------------------------------------------------*/

.col_a {
	width: 200px;
	float: left;
	margin-right: 25px;
}

.col_a h3 a {
	display: block;
	width: 200px;
	height: 23px;
	color: #fff;
	text-shadow: #666 0 -1px;
	background: url(../img/pics/button_h3.png) no-repeat;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	padding: 7px 0 0 0;
	margin: 0 0 10px 0;
}

.col_b {
	width: 650px;
	float: left;
}


/* Box module
----------------------------------------------------*/

.box {
	width: 200px;
}

.box h3 {
	width: 190px;
	height: 23px;
	color: #fff;
	text-shadow: #666 0 -1px;
	background: url(../img/pics/bg_top_box.png) no-repeat;
	font-size: 16px;
	padding: 7px 0 0 10px;
	margin: 0;
}

.box ul {
	margin: 0 0 20px 0;
	padding-bottom: 15px;
	background: url(../img/pics/bg_box.png) no-repeat bottom;
}

.box ul li.odd {
	background:none repeat scroll 0 0 #dce9ef;
}

.box ul li {
	background:none repeat scroll 0 0 #fff;
	border-color: #999;
	border-style: solid;
	border-width: 0 1px;
	font-size: 12px;
	line-height: 21px;
	padding-left: 10px;
}

.box ul li a {
	font-size: 12px;
	text-decoration: none;
	color: #00548c;
}

.box ul li a:hover {
	text-decoration: underline;
}


/* Blurb module 
----------------------------------------------------*/

h1 {
	color: #249ed4;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	margin: 0 0 10px 0;
	letter-spacing: -1px;
}

.blurb {
	margin: 0 0 20px 0;
}

.blurb .fleft {
	width: 425px;
}

.blurb img {
	border: 1px solid #999;
}


/* Search module 
----------------------------------------------------*/

#search {
	background: url(../img/pics/bg_search.png) no-repeat;
	width: 620px;
	height: 110px;
	padding: 15px;
	margin: 0 0 20px 0;
}

#search.minimize {
	width: 170px;
	background: url(../img/pics/bg_search_minimize.png) no-repeat;
	margin-bottom: 20px;
	padding-bottom: 0;
	height: 205px;
}

#search.minimize label,
#search.minimize input,
#search.minimize select {
	display: block;
	margin: 0 0 5px 0; 
}

#search.minimize .form_button {
	margin: 15px auto;
	background: url(../img/pics/button_getstarted.png) no-repeat;
	width: 141px;
	height: 51px;
	float: none;
	text-indent: -9999px;
	position: relative;
	top: 0;
	right: 5px;
}

#search h2 {
	font-size: 22px;
	color: #fff;
	text-shadow: #666 0 -1px;
	letter-spacing: -1px;
	font-weight: normal;
	margin-bottom: 25px;
}

#search label {
	font-size: 14px;
	color: #fff;
	margin: 0 8px 0 0;
	vertical-align: middle;
}

#search select {
	margin: 0 8px 0 0;
	vertical-align: middle;
	width: 135px;
}

#search .form_button {
	vertical-align: middle;
	margin: 0 0 0 10px;
	background: url(../img/pics/button_getstarted.png) no-repeat;
	width: 141px;
	height: 51px;
	float: right;
	position: relative;
	top: -15px;
}

#search .form_button input {
	background: transparent;
	border: none;
	width: 141px;
	height: 51px;
}


/* Program Table
----------------------------------------------------*/

#program_table table {
	border-spacing:0;
	width:100%;
	margin: 0 0 20px 0;
}

#program_table td.topR {
	border:1px solid #eaeaea;
}

#program_table td {
	line-height:normal;
	padding: 10px 10px 8px;
}

#program_table a {
	color: #666;
	text-decoration: none;
}

#program_table .table_title {
	margin-bottom: 5px;
}

#program_table .table_title a {
	background-color: #DCE9EF;
	display: block;
	padding: 4px;
	font-weight: bold;
	color: #00548C;
}


/* Schools module
----------------------------------------------------*/

h3 {
	color: #249ed4;
	font-size: 20px;
	margin-bottom: 20px;
	letter-spacing: -1px;
}

.school_box {
	background: #000;
	padding-bottom: 5px;
	background: url(../img/pics/bg_schoolbox_botton.png) no-repeat bottom;
	margin: 0 0 20px 0;
}

.school_box_header {
	background: url(../img/pics/bg_top_schoolbox.png) no-repeat;
	height: 48px;
}

.school_box_header h3 {
	color: #fff !important;
	font-size: 18px !important;
	font-weight: normal;
	letter-spacing: -1px;
	text-shadow: #666 0 -1px;
	padding: 15px 0 0 15px;
	float: left;
	margin: 0;
	
}

.school_box_header h5 a {
	float: right;
	padding: 20px 0 0 0;
	margin-right: 20px;
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 10px;
	color: #aee2fa;
	font-weight: normal;
}

.school_box_header h5 a:hover {
	text-decoration: none;
}

.school_box_body {
	clear: both;
	background: url(../img/pics/bg_schoolbox_body.gif) repeat-y;
	padding: 0 15px 0 15px;
}

.school_box_body a {
	color: #2181ae;
	font-weight: 500;
	text-decoration: underline;
	text-transform: uppercase;
	font-size: 10px;
	margin: 15px 0 0 0;
	display: block;
}

.school_box_body a:hover {
	text-decoration: none;
}

.school_box .resume {
	float: left;
	width: 405px;
	padding: 15px 0 0 0;
	margin: 0 15px 0 0;
}

.school_box .resume img {
	float: left;
	border: 1px solid #999;
	margin: 0 15px 0 0;
}

.school_box .resume h4 {
	font-size: 14px;
	color: #474747;
	font-weight: 500;
	margin: 0 0 15px 0;
}

.school_box .resume ul li {
	margin: 0 0 5px 0;
}

.school_box .resume ul li a {
	background: url(../img/pics/bullet.gif) no-repeat 0 6px;
	padding: 0 0 0 10px;
	text-decoration: none;
	color: #666;
	font-weight: normal;
	text-transform: none;
	font-size: 12px;
	display: inline;
}

.school_box .resume ul li a:hover {
	color: #249ed4;
}

.school_box .extract {
	float: right;
	width: 185px;
	padding: 15px 0 0 15px;
	background: url(../img/pics/bg_extract.gif) no-repeat top left;
}

.school_box .school_table {
	margin: 25px 0 0 0;
	padding-bottom: 15px;
	text-align: center;
}

.school_box td {
	font-size: 10px;
	padding: 4px;
	background-color: #e7e7e7;
	color: #6d6d6d;
	line-height: normal;
	border-right: 1px solid #b4b4b4;
	border-left: 1px solid #b4b4b4;
	border-bottom: 1px solid #b4b4b4;
}

.school_box td.topR {
	background-color: #b4b4b4;
	color: #fff;
	font-weight: normal;
}



/* Internal Layouting
---------------------------------------------------------------*/

#content.internal .col_a {
	width: 400px;
	float: left;
	margin-right: 25px;
	padding-right: 20px;
	border-right: 1px solid #eaeaea;
}

#content.internal .col_b {
	width: 420px;
	float: right;
}

#content.internal h1,
#content.admin h1 {
	color: #249ED4;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 30px;
	margin: 0 0 10px 0;
}

#content.internal h2,
#content.admin h2 {
	color: #00548C;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 30px;
	margin: 0 0 10px 0;
}

#content.internal h3,
#content.admin h3 {
	color: #666;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 30px;
	margin:	10px 0 10px 0;
}

#content.internal h4,
#content.admin h4 {
	color: #666;
	font-size: 16px;
	font-weight: normal;
	margin:	10px 0 10px 0;
}

#content.internal h5,
#content.admin h5 {
	color: #666;
	font-size: 14px;
	margin:	10px 0 10px 0;
	text-transform: uppercase;
}

#content.internal h6,
#content.admin h6 {
	color: #249ED4;
	font-size: 12px;
	margin:	10px 0 10px 0;
}

#content.internal p,
#content.admin p {
	margin-bottom: 10px;
}

#content.internal strong,
#content.admin strong {
	color: #333;
	font-weight: bold;
}

#content.internal em,
#content.admin em {
	font-style: italic;
}

#content.internal a,
#content.admin a {
	color: #2181AE;
	font-weight: 500;
	text-decoration: underline;
}

#content.internal a:hover,
#content.admin a:hover {
	text-decoration: none;
}

#content.internal ul,
#content.admin ul {
	margin: 0 0 15px 0;
}

#content.internal ul li,
#content.admin ul li {
	margin: 0 0 5px 10px;
	background: url(../img/pics/bullet.gif) no-repeat scroll 0 6px transparent;
	padding: 0 0 0 10px;
}

#content.internal img,
#content.admin img {
	border: 1px solid #999;
	text-align: center;
	margin: 0 0 20px 0;
}

#content.internal label,
#content.internal input,
#content.internal select,
#content.internal textarea,
#content.admin label,
#content.admin input,
#content.admin select,
#content.admin textarea {
	display: block;
	margin-bottom: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#content.internal label,
#content.admin label {
	margin-bottom: 5px;
	color: #333;
}

#content.internal input,
#content.internal textarea,
#content.admin input,
#content.admin textarea {
	border: 1px solid #999;
	padding: 3px;
	font-size: 11px;
	font-family: Arial;
	min-width: 200px;
}

#content.admin legend {
	color: #249ED4 !important;
	font-size: 20px !important;
	padding: 0 8px 0 8px !important;
}



/* Table Listing
---------------------------------------------------------------*/

.alphabetical {
	margin-bottom: 15px;
}

#listings a,
.alphabetical a {
	color:#00548C;
	text-decoration: none;
}

#listings a:hover,
.alphabetical a:hover {
	text-decoration: underline;
}

.ltitle {
	background: #DCE9EF;
	padding: 4px;
	margin-top: 10px;
}




/* Admin Layouting
---------------------------------------------------------------*/

/** containers **/
div.form,
div.index,
div.view {
	float:right;
	width:76%;
	border-left:1px solid #999;
	padding:10px 2%;
}

div.form a,
div.index a,
div.view a {
	text-decoration: none !important;
}

div.form a:hover,
div.index a:hover,
div.view a:hover {
	text-decoration: underline !important;
}

div.actions {
	float:left;
	width:16%;
	padding:10px 1.5%;
}

div.actions h3 {
	padding-top:0;
	color:#777;
}

#content.admin div.actions ul li {
	margin: 0 0 10px 0;
	padding: 0;
	background: none;
}


/** Tables **/

table {
	background: #fff;
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	wi
	dth: 100%;
}

th {
	border:0;
	border-bottom:2px solid #555;
	text-align: left;
	padding:4px;
}

th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}

th a.asc:after {
	content: ' â£';
}

th a.desc:after {
	content: ' â¡';
}

table tr td {
	background: #fff;
	padding: 10px 6px 6px;
	text-align: left;
	vertical-align: top;
	border-bottom:1px solid #ddd;
}

table .altrow td {
	background: #DCE9EF;
}

td.actions {
	text-align: center;
	white-space: nowrap;
}

table td.actions a {
	margin: 6px 6px;
	padding:2px 5px;
}

.cake-sql-log table {
	background: #f4f4f4;
}

.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
	font-family: Monaco, Consolas, "Courier New", monospaced;
}

.cake-sql-log caption {
	color:#fff;
}

/** Paging **/
div.paging {
	background:#fff;
	color: #ccc;
	margin-top: 1em;
	clear:both;
}

div.paging span.disabled {
	color: #ddd;
	display: inline;
}

div.paging span.current {
	color: #DCE9EF;
}

div.paging span a {
}

/** Scaffold View **/

dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 60%;
}

dl .altrow {
	background: #DCE9EF;
}

dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
}

dd {
	margin-left: 10em;
	margin-top: -2em;
	vertical-align: top;
}

/** Forms **/

#content.admin form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 95%;
}

#content.admin fieldset {
	border: 1px solid #ccc;
	margin-bottom: 1em;
	padding: 16px 20px;
}

#content.admin fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 16px 10px;
}

#content.admin fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}

#content.admin fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}

#content.admin form div {
	clear: both;
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}

#content.admin form .input {
	color: #444;
}

#content.admin form .required {
	font-weight: bold;
}

#content.admin form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}

#content.admin form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}

#content.admin label {
	display: block;
	font-size: 110%;
	margin-bottom:3px;
}

#content.admin input, textarea {
	clear: both;
	font-size: 140%;
	font-family: Arial;
	padding: 1%;
	width:98%;
}

#content.admin option {
	font-size: 120%;
	padding: 0 3px;
}

#content.admin input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}

#content.admin div.checkbox label {
	display: inline;
}

#content.admin input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;
}

#content.admin div.radio label {
	margin: 0 0 6px 20px;
}

#content.admin form .submit input[type=submit] {
	background:#62af56;
	background: -webkit-gradient(linear, left top, left bottom, from(#a8ea9c), to(#62af56));
	background-image: -moz-linear-gradient(top, #a8ea9c, #62af56);
	border-color: #2d6324;
	color: #000;
	text-shadow: #8cee7c 0px 1px 0px;
	width: 120px !important;
}

#content.admin form .submit input[type=submit]:hover {
	background:#4ca83d;
	background: -webkit-gradient(linear, left top, left bottom, from(#85e573), to(#4ca83d));
	background-image: -moz-linear-gradient(top, #85e573, #4ca83d);
}

/** Notices and Errors **/

div.message {
	clear: both;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	margin: 0 0 1em 0;
	background: #c73e14;
	padding: 5px;
}

div.error-message {
	clear: both;
	color: #fff;
	font-weight: bold;
	background: #c73e14;
}

p.error {
	background-color: #e32;
	color: #fff;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}

p.error em {
	color: #000;
	font-weight: normal;
	line-height: 140%;
}

.notice {
	background: #ffcc00;
	color: #000;
	display: block;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}

.success {
	background: green;
	color: #fff;
}

/**  Actions  **/

div.actions ul {
	margin: 0;
	padding: 0;
}

div.actions li {
	margin:0 0 0.5em 0;
	list-style-type: none;
	white-space: nowrap;
	padding: 0;
}

div.actions ul li a {
	font-weight: normal;
	display: block;
	clear: both;
}

div.actions ul li a:hover {
	text-decoration: underline;
}

#content.admin input[type=submit],
#content.admin div.actions ul li a,
#content.admin td.actions a {
	font-weight:normal;
	padding: 4px 8px;
	background:#09679e;
	background: -webkit-gradient(linear, left top, left bottom, from(#249ed4), to(#09679e));
	background-image: -moz-linear-gradient(top, #249ed4, #09679e);
	color:#fff !important;
	border:1px solid #09679e;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	text-shadow: #999 0px -1px;
	min-width: 0;
	text-decoration: none !important;
}
#content.admin input[type=submit]:hover,
#content.admin div.actions ul li a:hover,
#content.admin td.actions a:hover {
	background: #249ed4;
	background: -webkit-gradient(linear, left top, left bottom, from(#249ed4), to(#249ed4));
	text-decoration: none !important;
}

/** Related **/
div.related {
	clear: both;
	display: block;
}

/** Debugging **/

pre {
	color: #000;
	background: #f0f0f0;
	padding: 1em;
}

pre.cake-debug {
	background: #ffcc00;
	font-size: 120%;
	line-height: 140%;
	margin-top: 1em;
	overflow: auto;
	position: relative;
}

div.cake-stack-trace {
	background: #fff;
	color: #333;
	margin: 0px;
	padding: 6px;
	font-size: 120%;
	line-height: 140%;
	overflow: auto;
	position: relative;
}

div.cake-code-dump pre {
	position: relative;
	overflow: auto;
}

div.cake-stack-trace pre, div.cake-code-dump pre {
	color: #000;
	background-color: #F0F0F0;
	margin: 0px;
	padding: 1em;
	overflow: auto;
}

div.cake-code-dump pre, div.cake-code-dump pre code {
	clear: both;
	font-size: 12px;
	line-height: 15px;
	margin: 4px 2px;
	padding: 4px;
	overflow: auto;
}

div.cake-code-dump span.code-highlight {
	background-color: #ff0;
	padding: 4px;
}

div.code-coverage-results div.code-line {
	padding-left:5px;
	display:block;
	margin-left:10px;
}

div.code-coverage-results div.uncovered span.content {
	background:#ecc;
}

div.code-coverage-results div.covered span.content {
	background:#cec;
}

div.code-coverage-results div.ignored span.content {
	color:#aaa;
}

div.code-coverage-results span.line-num {
	color:#666;
	display:block;
	float:left;
	width:20px;
	text-align:right;
	margin-right:5px;
}

div.code-coverage-results span.line-num strong {
	color:#666;
}

div.code-coverage-results div.start {
	border:1px solid #aaa;
	border-width:1px 1px 0px 1px;
	margin-top:30px;
	padding-top:5px;
}

div.code-coverage-results div.end {
	border:1px solid #aaa;
	border-width:0px 1px 1px 1px;
	margin-bottom:30px;
	padding-bottom:5px;
}

div.code-coverage-results div.realstart {
	margin-top:0px;
}

div.code-coverage-results p.note {
	color:#bbb;
	padding:5px;
	margin:5px 0 10px;
	font-size:10px;
}

div.code-coverage-results span.result-bad {
	color: #a00;
}

div.code-coverage-results span.result-ok {
	color: #fa0;
}

div.code-coverage-results span.result-good {
	color: #0a0;
}

div.resource_list {
	margin-top: 20px;
}

div.resource_list ul li {
	margin-bottom:10px;
}

div.resource_list ul li a{
	background:url("../img/pics/bullet.gif") no-repeat scroll 0 6px transparent;
	color:#00548C;
	display:inline;
	font-size:14px;
	font-weight:normal;
	padding:0 0 0 10px;
	text-decoration:none;
	text-transform:none;
}

div.users {
	width:90%;
	border:none;
}

.ind-random {
	width:100%;
	height:100px;
}

.ind-random img {
	float: left;
    margin-right: 15px !important;
}
